html {
  box-sizing: border-box;
  background: linear-gradient(200deg, rgba(255,255,255,0) 0%, rgba(187,228,241,1) 100%);
}

*,*:before, *:after {
  box-sizing: inherit;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__tittle {
  color: #fc940d;
}

.main__image {
  height: 200px;
}

.main__introduction {
  color: #fc940d;
  padding: 5px;
}

.main__introduction--description {
  background: #b4beb2;
  color: #ffffff;
}

.navigation {
  background: #b4beb2;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
}

.navigation__link {
  color: white;
  margin-right: 10px;
}

.navigation__link--homepage {
  color: #181f18;
}

.notes {
  background: #4b0585;
  border-radius: 30px;
  display: inline-block;
  padding: 10px;
  margin: 10px 0px;
}

.notes__tittle {
  color: #f8981b;
}

.summary {
  border: 1px solid #fc4811;
  padding: 5px;
  margin: 10px;
}

.summary__tittle {
  color: #5ef01a;
}

.summary__description {
  color: #b4beb2;
}

.footer {
  color: #1a5be6;
  max-width: 1000px;
  margin: 0px auto;
}


@media screen and (min-width: 769px) {

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
  }

  .navigation {
      justify-content: space-around;
      flex-flow: wrap row;
    }
}